:root {
    --primary-color: #7f4eca;
}

* {
    font-family: 'Asap', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}

.dark {
    background-color: #202C36;
}

.navbar {
    padding-top: env(safe-area-inset-top);
}